.HomeDiv {
  width: 80vw;
  min-height: 50vh;
  margin: 5em auto;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.HomeDiv div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.HomeDiv div div p {
  font-size: 16px;
  font-weight: 400;
  color: #4d4949;
}

h2 {
  color: black;
}

.HomeDiv .msgProdutoNaoEncontrado {
  text-align: center;
  margin: 0 auto;
  font-size: 1.1em;
  color: #a19797;
}

@media screen and (max-width: 400px) {
  .HomeDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .HomeDiv div div {
    max-width: 250px;
  }
}
